body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    background: var(--light-gradient);
    color: var(--neutral-900);

    &.dark {
        background: var(--dark-gradient);
        color: var(--neutral-0);
    }
}

.container {
    max-width: min(1024px, calc(100% - 2rem));
    margin-inline: auto;
}
