.card-grid {
    display: grid;
    gap: 12px;
    margin-bottom: 32px;
}

@media (min-width: 500px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

